* {
  box-sizing: border-box;
}

.search-game-main{
  width: 100%;
}

.search-headline {
    margin: 0 auto;
  margin-top: 50px;
  position: relative;
  width: 450px;
  text-align: center;

}

.search-game {
  margin: 0 auto;
  margin-top: 25px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);
  position: relative;
  width: 450px;
}

.search-input {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  padding: 0px 40px 0px 10px;
  font-size: 18px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.search-input:focus {
  outline: none;
}

.results {
  padding: 0;
  margin: 0;
}



.result-item {
  list-style: none;
  border-radius: 5px;
  padding: 16px 25px;
  transition: all 0.5s linear;
    margin: 0;
  padding: 0;
    display: flex;
      display: flex;
  align-items: center;
    padding: 5px 5px 5px 5px;
    margin-right: 20px;
  border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}



.add-from-search {
  position: absolute;
  right: 0;
}
